{% extends 'base.html' %}
{% block content %}
<h4>Select the currencies to convert FROM and TO respectively, followed by the amount to be converted, and click on Convert.</h4>
{% for msg in get_flashed_messages() %}
<div class="flashMessage">{{ msg }}</div>
{% endfor %}
{% if currencies|length == 0 %}
  <h3 class="apiError">Unable to fetch currencies and rates. Please try again later.</h3>
{% endif %}
<form action="/convert" method="POST">
  <div class="fromDiv">
    <label for="from_currency">Converting <strong>FROM:</strong></label>
    <select name="from_currency" id="from_currency" required>
      <option hidden="" value="">Select one</option>
      {% for curr in currencies %}
      <option value="{{ curr }}">{{ curr }}</option>
      {% endfor %}
    </select>
  </div>  
  <div class="toDiv">
    <label for="to_currency">Converting <strong>TO:</strong></label>
    <select name="to_currency" id="to_currency" required>
      <option hidden="" value="">Select one</option>
      {% for curr in currencies %}
      <option value="{{ curr }}">{{ curr }}</option>
      {% endfor %}
    </select>
  </div>  
  <div class="amountDiv">
    <label for="amount">Amount:</label>
    <input type="number" min="0" step="0.01" name="amount" 
      id="amount" onchange="roundAmount()" required>
  </div>  
  <button id="convertBtn" {% if currencies|length == 0 %}disabled{% endif %}>Convert</button>

</form>
{% endblock %}